run = "npm run dev"
hidden = [".build", ".config"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "cloudrun"

[env]
PATH = "/home/runner/$REPL_SLUG/node_modules/.bin:$PATH"

[packages]
nodejs = "18.x" 